<div>
	<div class="row">
		<div class="col-lg-6">
			<h3>Attacker</h3>
			<unit-profile profile="mainReport.attackerData" options="{display:'attacker'}"></unit-profile>
		</div>
		<div class="col-lg-6">
			<h3>Defender</h3>
			<unit-profile profile="mainReport.defenderData" options="{display:'defender', editable: true}"></unit-profile>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div class="row">
				<div class="col-lg-4">
					Name
				</div>
				<div class="col-lg-2">
					Str
				</div>
				<div class="col-lg-2">
					AP
				</div>
				<div class="col-lg-2">
					Shots
				</div>
				<div class="col-lg-2">
					#
				</div>
			</div>
		</div>
		<div class="col-lg-5 col-lg-offset-1">
			<div class="row">
				<div class="col-lg-4">
					Hit
				</div>
				<div class="col-lg-4">
					Wound
				</div>
				<div class="col-lg-4">
					Unsaved
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-repeat="weapon in mainReport.weapons">
		<div class="col-lg-6">
			<weapon weapon="weapon"></weapon>
		</div>
		<div class="col-lg-5 col-lg-offset-1">
			<weapon-results results="weapon.results"></weapon>
		</div>
	</div>
</div>
